sample-id	forward-absolute-filepath	reverse-absolute-filepath
Sample01	/path/to/clean_fastq/Sample01_R1.clean.fastq.gz	/path/to/clean_fastq/Sample01_R2.clean.fastq.gz
Sample02	/path/to/clean_fastq/Sample02_R1.clean.fastq.gz	/path/to/clean_fastq/Sample02_R2.clean.fastq.gz
