# large sequencing and QIIME2 artifacts
*.qza
*.qzv
*.biom
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.sam
*.bam
*.tmp
*.log

# output folders
results/
exports/
qiime2_results/
clean_fastq/
raw_fastq/

# OS / editor
.DS_Store
Thumbs.db
.Rhistory
.RData
.vscode/
.idea/
